<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="end">
          <ion-button (click)="dismiss()">
              <ion-icon name="close" color="light"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>
        Edit Pokemon
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="pokemonForm" ngxsForm="pokemon.pokemonForm" (ngSubmit)="save()">
    <ion-list iset>
      <ion-item>
        <ion-label position="floating">Nickname</ion-label>
        <ion-input #nickname type="text" formControlName="nickname"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input disabled #name type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-input disabled #description type="text" formControlName="description"></ion-input>
          </ion-item>
          <ion-item>
            <ion-button type="submit" color=tertiary>Save</ion-button>
          </ion-item>
    </ion-list>

  </form>
</ion-content>